<div class="about-us-wrapper">
  <div class="container">
    <div class="about-section sec-padding" fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
      <img src="assets/images/aboutUs.jpg" alt="">
      </div>
      <div fxFlex="100" fxFlex.gt-sm="50" class="left-info-panel">
         <div class="about-us-intro">
             <h2>Daugiau nei 20 metų patirtis</h2>
             <p>Prekiaujame kokybiška elektros įranga jau daugelį metu. Galime patarti, kokius produktus ir preitaisus rinktis įvairiems darbams. Siunčiam bei užsakom įrangą didmeniniu mastu, tad galime pasiųlyti ir geresnes kainas.</p>
             <div class="accordions">
             <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Kokybė</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>Orentuojames į kokybiškus prekės ženktus is Vokietyjos, Italijos ir kitas Europos šalis.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                          <h4>Greitis</h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>Jums norimas prekes greičiausiai turime sandelyje, tad nereiks laukti menesių, kol jos bus jums preistatytos</p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>Kaina</h4>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>Produkcija aprūpinam ir stambias Lietuvos įmones, tad perkam dideliais kiekiais ir galime pasiūlyti geresnes kainas</p>
                    </mat-expansion-panel>

              </mat-accordion>
            </div>
         </div>
          </div>
    </div>
  </div>
  <div class="our-values sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Mes išsiskiriame</h2>
          <!-- <p>Boldman has 10+ years of experience with providing wide area of specialty services works listed below.
            </p> -->
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" class="box-wraper">
            <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
              <div class="content">
                <div class="icon-box">
                    <i class="material-icons">
                        done_all
                        </i>
                </div>
                  <h4>Kokybė</h4>
                  <p>Prekiaujam kokybiška produkcija</p>
              </div>
             </div>
             <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                <div class="content">
                  <div class="icon-box">
                      <i class="material-icons">
                          build
                          </i>
                  </div>
                    <h4>Pasirinkimas</h4>
                    <p>Didelis prekių pasirinkimas</p>
                </div>
               </div>
               <div fxFlex="100" fxFlex.gt-sm="33.3" class="box">
                  <div class="content">
                    <div class="icon-box">
                        <i class="material-icons">
                            local_shipping
                            </i>
                    </div>
                      <h4>Greitas pristatymas</h4>
                      <p>Prekes pristatysim vos per kelias dienas</p>
                  </div>
                 </div>
                 
        </div>
      </div>
  </div>
  <!-- <div class="our-team sec-padding">
      <div class="container">
        <div class="title-wrapper">
          <h2>Our Experts </h2>
          <p>Our development opt in to the projects they genuinely want to work on,<br>committing wholeheartedly to delivering.
            </p>
        </div>
        <div class="team-members" fxLayout="row" fxLayout.lt-sm="column">
            <div fxFlex="100" fxFlex.gt-sm="25" class="item">
                <div class="single-team-member">
                    <div class="img-box"><img src="assets/images/about-us/t1.jpg" alt="Awesome Image">
                      <div class="overlay">
                        <div class="box">
                          <div class="content">
                            <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                              <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-box">
                      <h4>Peter Simons</h4>
                      <p>CEO &amp; Founder</p>
                    </div>
                  </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="25" class="item">
              <div class="single-team-member">
                  <div class="img-box"><img src="assets/images/about-us/t2.jpg" alt="Awesome Image">
                    <div class="overlay">
                      <div class="box">
                        <div class="content">
                          <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-box">
                    <h4>Peter Simons</h4>
                    <p>CEO &amp; Founder</p>
                  </div>
                </div>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="25" class="item">
            <div class="single-team-member">
                <div class="img-box"><img src="assets/images/about-us/t3.jpg" alt="Awesome Image">
                  <div class="overlay">
                    <div class="box">
                      <div class="content">
                        <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                          <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                          <li><a href=""><i class="fa fa-instagram"></i></a></li>
                          <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-box">
                  <h4>Peter Simons</h4>
                  <p>CEO &amp; Founder</p>
                </div>
              </div>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" class="item">
          <div class="single-team-member">
              <div class="img-box"><img src="assets/images/about-us/t4.jpg" alt="Awesome Image">
                <div class="overlay">
                  <div class="box">
                    <div class="content">
                      <ul class="social list-inline text-center" fxLayout="row" fxLayoutAlign="space-evenly center">
                        <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-box">
                <h4>Peter Simons</h4>
                <p>CEO &amp; Founder</p>
              </div>
            </div>
      </div>
        </div>
      </div>
    </div> -->

</div>
