<div class="category-contant">
    <ul>
        <li><a class="no-brd" [routerLink]="['/products/all']">Visi Produktai</a></li>
        <li><a [routerLink]="['/products/Reples']">Replės</a></li>
        <li><a [routerLink]="['/products/Atsuktuvai']">Atsuktuvai</a></li>
        <li><a [routerLink]="['/products/elektrikoIranga']">Elektrikas įrankiai</a></li>
        <li><a [routerLink]="['/products/statybaVandentiekis']">Statyba ir vandentiekio</a></li>
        <li><a [routerLink]="['/products/matavimasZymejimas']">Matavimo ir žymėjimas</a></li>
        <li><a [routerLink]="['/products/pjovimas']">Pjovimas ir pjovimas</a></li>
        <li><a [routerLink]="['/products/verzliarakciai']">Lizdai, veržliarakčiai ir veržliarakčiai</a></li>
        <li><a [routerLink]="['/products/inzinieriausIrankai']">Inžinieriaus įrankiai</a></li>
        <li><a [routerLink]="['/products/maitinimoIrankiai']">Maitinimo įrankių priedai</a></li>
        <li><a [routerLink]="['/products/vandensSistemos']">Vandens sistemos</a></li>
        <li><a [routerLink]="['/products/pincetai']">Pincetai</a></li>
        <li><a [routerLink]="['/products/sandeliavimas']">Medžiaginis sandėliavimas</a></li>
        <li><a [routerLink]="['/products/sodininkyste']">Sodininkystė</a></li>
        <li><a [routerLink]="['/products/Peiliai']">Peiliai</a></li>
        <li><a [routerLink]="['/products/aparaturos']">Aparatūros</a></li>
        <li><a [routerLink]="['/products/statybos']">Statyba & dekoravimas</a></li>
        <li><a [routerLink]="['/products/inzinerija']">Inžinerija & automobiliai</a></li>
        <li><a [routerLink]="['/products/apsauga']">Apsauga</a></li>
        <li><a [routerLink]="['/products/Spynos']">Spynos</a></li>
        <li><a [routerLink]="['/products/raktai']">Klavišus</a></li>
    </ul>
</div>