<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row"  fxLayout.xs="row" fxLayoutAlign="space-between center">
    <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>
        <a [routerLink]="['/home']" routerLinkActive="router-link-active"  mat-button class="mat-button">PRADŽIA</a>
        <a [routerLink]="['/products/all']" routerLinkActive="router-link-active"  mat-button class="mat-button">PRODUKTAI</a>
        <a [routerLink]="['/pages/about']" routerLinkActive="router-link-active"  mat-button class="mat-button">APIE MUS</a>
        <a [routerLink]="['/pages/contact']" routerLinkActive="router-link-active"   mat-button class="mat-button">KONTAKTAI</a>
    </div>
</mat-toolbar-row>
      
      