<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget">
          <!-- <a class="logo" href="index.html"> 
          <img src="assets//images/logo-02-01.png" alt="Awesome Image"></a> -->
          <h2>MagicLight</h2>
          <p>Kokybiška elektros įranga visiems. Paruodame įvairiausius įrankius, elektros prietaisus, taip pat galime teikti elektros darbų paslaugas.</p>
          <div class="link"><a href="/pages/about">DAUGIAU APIE MUS</a> </div>
        </div>

          <!-- <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>Services</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a href="#">Hotel Growth</a></li>
                  <li><a href="#">Hotel Loan</a></li>
                  <li><a href="#">Financial Planning</a></li>
                  <li><a href="#">Insurance Consulting</a></li>
                  <li><a href="#">Retirenment Planing</a></li>
                  <li><a href="#">Tax Planing</a></li>
                </ul>
            </div>
          </div> -->


        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>Naujienlaikraštis</h5>
          </div>
          <form action="#">
            <p>Pirmi sužinokite apie ateinančias nuolaidas ir akcijas</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Enter your email address">
              <button type="submit" class="ped-btn-footer">Sutinku</button>
            </div>
          </form>
        </div>


          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>Kontaktai</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p>Savanorių pr. 22 Vilnius, LT-03166</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p>+370 (687) 88976</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="#">info@magiclight.lt</a></p>
              </div>
            </div>

            <!-- <ul fxLayout="row" class="social list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul> -->
          </div>






      </div>
  </div>
</footer>
